<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>百度新闻后端管理页</title>
    <link href="stylesheets/style.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="display: block;margin-left: 20px;">百度新闻管理页</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">新闻发布器</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputTitle">新闻标题</label>
                                <input type="text" class="form-control " id="exampleInputTitle" placeholder="请输入新闻标题" name="title">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputText">新闻正文</label>
                                <textarea type="text" class="form-control" id="exampleInputText" placeholder="" name="content1"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUrl">新闻图片地址</label>
                                <input type="text" class="form-control" id="exampleInputUrl" placeholder="请输入新闻图片网址" name="url1">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputSrc">新闻来源</label>
                                <input type="text" class="form-control" id="exampleInputSrc" placeholder="请输入新闻来源" name="src1">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputDate">新闻日期</label>
                                <input type="date" class="form-control" id="exampleInputDate" placeholder="" name="date1" defaultValue="">
                            </div>
                            <div class="form-group">
                                <label for="">新闻标签</label>
                                <select name="label1" id='exampleInputLabel' style="display: block;width: 100%;height:35px;border: 1px solid #ccc;border-radius: 5px">
                                    <option value="0">推荐</option>
                                    <option value="1">百家</option>
                                    <option value="2">本地</option>
                                    <option value="3">图片</option>
                                    <option value="4">娱乐</option>
                                    <option value="5">社会</option>
                                    <option value="6">军事</option>
                                    <option value="7">女人</option>
                                    <option value="8">搞笑</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-default" id="sub1">提交</button>
                        </form>
                    </div>
                </div>
                <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="myModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="gridSystemModalLabel">你确定要删除这条新闻吗？</h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary btn-danger" id="confirm1">确认</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default" style='height:560px;overflow-y:scroll;'>
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <h3>新闻列表</h3></div>
                    <!-- Table -->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>标题</th>
                                <th>日期</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="jquery/dist/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/dist/js/bootstrap.js"></script>
    <script>
    function show() {
        $("tbody>tr").remove();
        $.ajax({
            url: '/admin/getallnews',
            type: 'get',
            success: function(data) {
                for (var i = 0; i < data.length; i++) {
                    var tr = $('<tr></tr>');
                    $('<td></td>').text(data[i].newsId).appendTo(tr);
                    $('<td></td>').text(data[i].newsTitle).appendTo(tr);
                    $('<td></td>').text(data[i].newsDate).appendTo(tr);
                    var btn = $('<button></button>').text('删除').addClass('btn btn-danger');
                    var td = $('<td></td>');
                    btn.appendTo(td);
                    td.appendTo(tr);
                    tr.appendTo($('tbody'));
                }
            }
        })
    }

    function clear() {
        $('input[name=title]').val('');
        $('textarea[name=content1]').val('');
        $('input[name=url1]').val('');
        $('input[name=src1]').val('');
        $('input[name=date1]').val('');
        $('select[name=label1]').val('');
    }
    $(document).ready(function() {
        show();
    })

    //父级 事件 元素 回调函数
    //展示

    var id = null;
    $('tbody').on('click', 'tr', function() {
        // console.log(1234);
        id = $(this).children('td').eq(0).text();
        $.ajax({
            url: '/admin/allnews',
            type: 'get',
            data: {
                id: $(this).children('td').eq(0).text()
            },
            success: function(data) {
                // console.log(data[0]);
                // console.log(data[0].title);
                $('input[name=title]').val(data[0].newsTitle);
                $('textarea[name=content1]').val(data[0].newsContext);
                $('input[name=url1]').val(data[0].newsUrl);
                $('input[name=src1]').val(data[0].newsSrc);
                $('input[name=date1]').val(data[0].newsDate);
                $('select[name=label1]').val(data[0].newsLabel);
            }
        })
    });

    /*修改*/
    $('#sub1').on('click', function(e) {

        var json = {
                newsId: id,
                newsTitle: $('#exampleInputTitle').val(),
                newsDate: $('#exampleInputDate').val(),
                newsContext: $('#exampleInputText').val(),
                newsUrl: $('#exampleInputUrl').val(),
                newsSrc: $('#exampleInputSrc').val(),
                newsLabel: $('#exampleInputLabel').val()
            }
            //修改
        if (id) {
            $.ajax({
                    url: '/admin/modifynews',
                    type: 'post',
                    data: json,
                    success: function(data) {
                        console.log(data);
                        show();
                        id = null;
                    }
                })
                //增加
        } else {
            if ($('#exampleInputTitle').val() && $('#exampleInputDate').val() && $('#exampleInputText' && $('#exampleInputUrl').val()).val() && $('#exampleInputSrc').val()) {

                e.preventDefault();
                // console.log(json.newsUrl); 
                $.ajax({
                    url: '/admin/addnews',
                    type: 'post',
                    data: json,
                    success: function(data) {
                        console.log(data);
                        show();
                    }
                })


            } else {
                alert('请您检查文本输入内容是否为空！！！');

            }

        }

    });


    /*原版提交*/

    // $('#sub1').on('click',function(e){


    //      e.preventDefault();


    //      var json = {
    //          newsTitle:$('#exampleInputTitle').val(),
    //          newsDate:$('#exampleInputDate').val(),
    //          newsContext:$('#exampleInputText').val(),
    //          newsUrl:$('#exampleInputUrl').val(),
    //          newsSrc:$('#exampleInputSrc').val(),
    //          newsLabel:$('#exampleInputLabel').val()
    //          }
    //      // console.log(json.newsUrl);   

    //      $.ajax({
    //          url:'/admin/addnews',
    //          type:'post',
    //          data:json,
    //          success:function(data){
    //              console.log(data);
    //          }
    //      })
    //      show();

    // });


    /*删除*/
    var getid;

    $('tbody').on('click', 'button', function(e) {
        $('#myModal').modal('show');

        // $('#myModal').modal('toggle')
        e.stopPropagation();
        getid = $(this).parent().parent().children('td').eq(0).text();


    })
    $('#confirm1').click(function() {
        console.log(getid)
        $('#myModal').modal('hide');
        $.ajax({
            url: '/admin/deletenews',
            type: 'post',
            data: {
                id: getid
            },
            success: function(data) {
                show();

            }
        })

    })
    </script>
</body>

</html>
